
<%- include('partials/header'); %>

<p>Post</p>

<% for (let i = 0; i < posts.length; i++) { %>
    <article>
        <h1>
            <%= posts[i].title %>
        </h1>
    </article>

<% } %>



<%- include('partials/footer'); %>